<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <% include nav.ejs %>
    <h1 class="mt-5"><%= title %></h1>
    <p>This page is temporary under construction. Please visit soon to see finished product!</p>
  </body>
</html>