<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>'s Blog Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <% include nav.ejs %>
    <h1 class="mt-5"><%= title %>'s Blog Site</h1>
    <p>Welcome to my blog site. For more information about me and what I do on a daily basis, feel free to stop by and read around. Enjoy!</p>
  </body>
</html>