body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.editButton{
  font-size: 24px;
}

.editButton:hover{
  color: lime;
}

.deleteButton{
  font-size: 24px;
}

.deleteButton:hover{
  color: red;
}

.buttons {
  display: flex;
  width: fit-content;
}

