body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.editButton{
  width: 75px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid blue;
}

.deleteButton{
  width: 75px;
  padding: 6px;
  border-radius: 6px;
  border: 2px solid red;
}

.buttons {
  display: flex;
  width: fit-content;
}